@if (formState === 'error') {
  <kickathon-toast
    state="error"
    [showTimeout]="10000"
    message="Es ist ein Fehler aufgetreten: {{ errors }}"></kickathon-toast>
}
<div class="flex flex-row justify-center mt-16 min-w-sm max-w-sm mx-auto">
  <div
    class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <form class="p-6 space-y-4 md:space-y-6 sm:p-8" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h5 class="text-xl font-medium text-gray-900 md:text-2xl dark:text-white">Lust zu bolzen?</h5>
      <div>
        <label
          for="name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          [ngClass]="{
            '!text-red-600 dark:!text-red-500': isNameInvalid,
          }"
          >Teamname</label
        >
        <input
          type="name"
          name="name"
          formControlName="name"
          id="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-200 dark:focus:border-primary-500"
          placeholder="Ruhrpott Coal Titans"
          [ngClass]="{
            'bg-red-50 !border-red-500 !text-red-900 focus:!ring-red-500 focus:!border-red-500 dark:!text-red-500 dark:!border-red-500':
              isNameInvalid,
          }"
          required />
        @if (isNameInvalid) {
          <div class="mt-1 text-sm text-red-600 dark:text-red-500">
            @if (name.errors?.['required']) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">Teamname ist erforderlich.</p>
            }
          </div>
        }
      </div>
      <div>
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          [ngClass]="{
            '!text-red-600 dark:!text-red-500': isPasswordInvalid,
          }"
          >Passwort</label
        >
        <input
          type="password"
          name="password"
          formControlName="password"
          id="password"
          autocomplete="on"
          placeholder="••••••••"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-200 dark:focus:border-primary-500"
          [ngClass]="{
            'bg-red-50 !border-red-500 !text-red-900 focus:!ring-red-500 focus:!border-red-500 dark:!text-red-500 dark:!border-red-500':
              isPasswordInvalid,
          }"
          required />
        @if (isPasswordInvalid) {
          <div class="mt-1 text-sm text-red-600 dark:text-red-500">
            @if (password.errors?.['required']) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">Passwort ist erforderlich.</p>
            }
            @if (password.errors?.['minlength']) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                Mindestens vier Zeichen eingeben.
              </p>
            }
          </div>
        }
      </div>
      <button
        type="submit"
        [disabled]="loginForm.invalid || formState === 'loading'"
        [ngClass]="{
          'cursor-not-allowed !hover:bg-gray-400 !dark:bg-gray-400 !bg-gray-400':
            loginForm.invalid || formState === 'loading',
        }"
        class="flex justify-center items-center relative w-full text-white bg-primary-400 hover:bg-primary-300 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-400 dark:hover:bg-primary-300 dark:focus:ring-primary-600">
        <span>Gut Kick!</span>
        @if (formState === 'loading') {
          <span class="absolute right-2" role="status">
            <svg
              aria-hidden="true"
              class="inline w-6 h-6 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300"
              viewBox="0 0 100 101"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
            </svg>
          </span>
        }
      </button>
      <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
        Noch nicht dabei?
        <a
          href="/register"
          class="font-medium text-primary-400 hover:underline dark:text-primary-300"
          >Dann hier klicki</a
        >
      </div>
    </form>
  </div>
</div>
<model-viewer
  src="kickathon-animierter-ball.glb"
  alt="3D Model"
  autoplay
  animation-name="IcosphereAction"
  field-of-view="5deg"
  style="width: 100%; height: 200px">
</model-viewer>
