<h1 class="text-2xl font-semibold text-center lg:mt-4 mt-2 mb-4 lg:mb-8">Leaderboard</h1>

@if (dataService.teamsLoadingState$() === 'success') {
  @if (dataService.leaderboard$().length > 0) {
    <div class="relative overflow-x-auto sm:rounded-lg dark:border-gray-700 border border-l-0">
      <table
        class="w-full text-sm text-left shadow-md rtl:text-right text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 w-2">Pl.</th>
          <th scope="col" class="px-6 py-3 text-gray-900 whitespace-nowrap dark:text-white">
            Name
          </th>
          <th scope="col" class="px-6 py-3 w-4">Schritte</th>
        </tr>
        </thead>
        <tbody>
          @for (team of dataService.leaderboard$(); track $index) {
            <tr
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
              [ngClass]="{'border-b-0': $index === (dataService.leaderboard$().length - 1)}"
            >
              <th
                scope="row"
                class="px-6 py-4 border-l-4"
                [ngClass]="{
                  'border-l-babiel-turquoise-400': team.color === '7',
                  'border-l-babiel-purple-400': team.color === '9',
                  'border-l-babiel-orange-400': team.color === '3',
                  'border-l-babiel-green-400': team.color === '10',
                  'border-l-babiel-magenta-400': team.color === '1',
                  'border-l-babiel-amber-400': team.color === '4',
                  'border-l-babiel-petrol-400': team.color === '8',
                  'border-l-babiel-apple-400': team.color === '6',
                  'border-l-babiel-red-400': team.color === '2',
                  'border-l-babiel-yellow-400': team.color === '5',
                  'border-l-babiel-gray-300': team.color === '11',
                }">
                {{ $index + 1 }}
              </th>
              <td class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                {{ team.name }}
              </td>
              <td class="px-6 py-4">{{ team.score | number: undefined }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @else {
    <div
      class="flex items-center p-4 mb-4 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800"
      role="alert">
      <svg
        class="flex-shrink-0 inline w-4 h-4 me-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <div>Keine Spieler vorhanden. Lege Spieler an und komme dann zurück.</div>
    </div>
  }
} @else {
  <stepchallenge-loading-spinner></stepchallenge-loading-spinner>
}
